*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

body{
    background-color: rgba(228,228,220,255);
}
nav{
     display: flex;
     justify-content: space-between;
     background-color: rgba(228,228,220,255);;
     height: 30%;
     padding: 1.6%;
     box-shadow: 0px 2px 2px 2px gray;
}

ul{
    margin-left: 50%;
}

nav ul li{
    list-style: none;
}

ul li a{
    margin-inline: 1.3rem;
    font-size: .8rem;
}

ul li i{
    font-size: 1.5rem;
}

ul li #home{
    color: rgb(6, 147, 147);
}

ul li a:hover{
    border-bottom: 2px solid rgb(8, 8, 8);
    cursor: pointer;
}

ul li i:hover{
    color: gray;
    cursor: pointer;
}

/* main page */

.main{
    display:flex;
    justify-content: space-around;
}

.main .maintxt{
    margin-top: 9rem;
    font-size: 1.8rem;
}

.main img{
    margin-top: 5%;
    margin-right: 0%;
    height: 58vh;
    width: 45vw;
}

.maintxt h1{
    font-size: 4rem;

}

.maintxt .top{
    color: rgb(6, 147, 147);
}

.maintxt p{
    margin-top: .6rem;
    font-size: 1.2rem;
}

.maintxt .btn-e{
    height: 12%;
    width: 24%;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 5%;
    background-color: rgb(6, 147, 147);
    border: none;
    color: white;
}

.maintxt button:hover{
    border: 2px solid rgb(6, 147, 147);
    background-color: transparent;
    color: rgb(6, 147, 147);
    
}

.account-page{
    padding: 50px 0;
    display: none;
}

.account-page .col-2 img{
    height: 450px;
    width: 856px;
    margin-left: 240px;
    position: relative;
}
 
.form-container{
    background: #fff;
    width: 260px;
    height: 360px;
    position: absolute;
    text-align: center;
    padding: 20px 0;
    margin-top: -426px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    margin-left: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.form-container span{
    font-weight: bold;
    padding: 0 5px;
    color: #555;
    cursor: pointer;
    margin-inline: 16px;
    width: 35px;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    /* width: 80%; */
    height: 30px;
     margin: 10px 0;
    padding: 0 10px;  
    margin-inline: 20px;
    border: 1px solid #ccc;
}

form .butn1{
    width: 55%;
    height: 30px;
    background-color: rgb(6, 147, 147);
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .butn2{
    width: 70%;
    height: 30px;
    background-color: rgb(6, 147, 147);
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .butn:focus{
    outline: none;
}

#loginForm{
    left: -330px;
}

#regForm{
    left: 0;
}

form a{
    font-size: 12px;
}

#indicator{
    width: 75px;
    border: none;
    background: rgb(6, 147, 147);
    height: 3px;
    margin-top: 8px;
    margin-left: 8px;
    transform: translate(100px);
    transition: transform 1s;
}

/* Products */

.card{
    display: inline-flex;
    justify-content: center;
}

.products .head h1{
    text-align: center;
    padding: 2rem;
    margin-top: 2.5rem;
    text-decoration: underline;
}

.head h1{
    color: rgb(6, 147, 147);
}


.products .head h1{
    text-align: center;
    padding: 2rem;
    margin-top: 1.5rem;
    text-decoration: underline;
}

.products .card .crd .btn{
    height: 7.5%;
    width: 42%;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 3%;
    margin-left: 5%;
    background-color: rgb(6, 147, 147);
    border: none;
    color: white;
}

.products .card .crd .btn{
    height: 7.5%;
    width: 42%;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 3%;
    margin-left: 5%;
    background-color: rgb(6, 147, 147);
    border: none;
    color: white;
}

.card .crd{
    width: 16vw;
    height: 50vh;
    background-color: white;
    margin-inline: -7.5rem;
    margin-left: 17rem;
}

.crd img{
    width: 14vw;
    height: 35vh;
    padding: 2.5% 4.5%;
    /* border-radius: 13%; */
    justify-content: center;
}

.crd h2{
    font-size: 1rem;
    margin-left: 1rem;
}

.crd i{
    font-size: 1.1rem;
    color: rgb(255, 149, 0);
    margin-left: .8rem
}

/* about us */

.about{
    display: none;
}

.aboutus{
    background-color: rgb(2, 2, 66);
    height: 14vh;
    padding: 4rem;
}

.aboutus h1{
    color: white;
}

.aboutus p{
    color: white;
}

.us{
    display: flex;
    justify-content: center;
    width: 45vw;
    height: 40vh;
    background-color: #fff;
    padding: 2rem;
    margin-left: 24%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.us img{
    width: 21vw;
    height: 37vh;
    margin-left: .7rem;
    margin-right: .7rem;
    margin-top: .3rem;
}
.us .aboutText{
    margin-left: 2rem;
    margin-top: .5rem;
    font-size: 1.1rem;
}
.us .aboutText ul li{
    margin-left: -7rem;
    margin-top: .6rem;
}

/* contact */

.contact{
    display: none;
}
.contactus{
    background-color: rgb(1, 1, 42);
    color: white;
    padding: 3.5rem;
    font-size: 1.2rem;
}

.me{
    display: flex;
    justify-content: center;
    width: 62rem;
    margin-top: 5%;
    background-color: #fff;
    margin-left: 16%;

}
.me img{
    width: 55%;
}

.contactText{
    padding: 1.5rem;
    width: 37rem;
}
.contactText p{
    margin-top: 1.2rem;
}
.form{
    text-align: center;
    margin-top: 5%;
    padding: 1.2rem;
}
.form input{
    width: 18rem;
    padding: .2rem;
    height: 1.7rem;
    margin-top: .6rem;
}
.form button{
    width: 15rem;
    height: 1.6rem;
    background-color: rgb(6, 147, 147);
    color: white;
    font-size: 1.2rem;
    border: none;
    margin-top: 1.2rem;
}

/* blog */

.blog{
    display: inline-flex;
    justify-content: center;
    width: 32vw;
    height: 35vh;
    background-color: white;
    margin-inline: -7rem;
    margin-left: 15rem;
    border-radius: .7rem;
}

.trends .head{
    text-align: center;
    padding: 2rem;
    margin-top: 2.5rem;
    text-decoration: underline;
    color: rgb(6, 147, 147);
}

.blog img{
    width: 20vw;
    height: 32vh;
    border-radius: .7rem;
    margin-top: .8rem;
    margin-left: .7rem;
    margin-right: .7rem;
}

.blog:hover{
    transition: 0.6s ease;
    width: 34vw;
    height: 33vh;
}

.blog-text{
    margin-top: 1.8rem;
    padding: 1.5rem;
}

.blog-text h2{
    font-size: 1.3rem;
}

.blog-text p{
    font-size: .9rem;
    margin-top: .5rem;
}

.blog-text a{
    width: 5rem;
    padding: .4rem;
    height: 1.5rem;
    background-color: rgb(4, 136, 136);
    color: white;
    font-size: 1rem;
    position: relative;
    top: 1rem;
}

/* sign up page */

.sign{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:rgb(2, 2, 66);
    padding: 2.6rem;
}
.sign-text{
    width: 100%;
}
.sign-text h1{
   font-size: 40px;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    padding: 3.3rem;
}
.footer .footerText{
    margin-inline: 5.3rem;
}
.footerText p{
    margin-top: .6rem;
}

/* cart */

.cart{
    display: flex;
    justify-content: center;
    display: none;
}
.cartText{
    padding: 1.3rem;
    margin-top: 1.3rem;
}
.cartText p{
    margin-top: .5rem;
}
.cartText h2{
    margin-top: .5rem;
}
.cartText .bttn button{
    width: 8.7rem;
    height: 2.5rem;
    background-color:rgb(4, 136, 136);
    color: white;
    border: none;
    font-size: 1.3rem;
    margin-inline: .5rem;
    margin-top: 1.3rem;
}